.column{
  width: 300px;
  float: left;
}

.sidebar{
  width: 15%;
  float: left;
  background-color: orange;
  border: 2px solid red;
  padding: 8px;
  margin: 8px;
}
ol{
  text-align: center;
}
img{
  padding: 100px;
}
